<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>[% title || 'Top' %] | Rainview</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
      [% INCLUDE 'include/navbar.tt' %]
      </div>
    </div>
  </div>
  <div class="container">
  [% content %]
  </div>
  <div class="container">
    ※このサイトの一次情報は <a href="http://www.mlit.go.jp/road/roadinfo/">道路: 交通規制・道路気象 - 国土交通省</a> です。
  </div>
</body>
</html>

